* {
  /*font-family: 'Cardo', serif;*/
  /*font-family: 'Lora', serif;*/
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Playfair Display', serif;*/
  /*font-family: 'Arvo', serif;*/
  font-family: 'Manrope', sans-serif;
}


nav {
  margin-bottom: 10px;
}

img {
  width: 450px;
  padding: 4px;
}

.container {
  text-align: center;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.welcome {
  font-size: xx-large;
  padding: 50%;
  font-family: 'Lora', serif;
}


