* {
  /*font-family: 'Cardo', serif;*/
  /*font-family: 'Lora', serif;*/
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Playfair Display', serif;*/
  /*font-family: 'Arvo', serif;*/
  font-family: 'Manrope', sans-serif;
}

#head, #nav {
  background-color: #F2F0EE;
}

body {
  background-color: #FDFAF8;
}

nav {
  margin-bottom: 40px;
}

img {
  padding: 4px;
}

.container_img {
  position: relative;
  width: 100%;
}

/*Tuoteryhmien otsikot */
.categoryName {
  padding-top: 30px;
  padding-bottom: 20px;
}


#categoryName {
  width: 285px;
}

/* Ota yhteyttä- ja ylläpito-sivujen otsikot */
.contactUs, .addCategory {
  padding-bottom: 20px;
}

.form-select {
  max-width: 200px;
}

.addproduct {
  align-items: center;
}

/* Ostoskorin teksti, kun se on tyhjä
.emptyCartText {
 MÄÄRITYKSET EI TOIMI SIIHEN !!??
} */

/* search-kenttä */
.form-inline {
  width: 160px;
  margin: 10px;
}

.cartAmount {
  text-decoration: none;

}

/* tuotteiden divit */
.productDiv {
  padding-bottom: 50px;
  /*display: inline-block;*/
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_img:hover .image {
  opacity: 0.3;
}

.container_img:hover .middle {
  opacity: 1;
}

.text,
.text:hover {
  text-decoration: none;
  background-color: none;
  color: black;
  font-size: 30px;
  padding: 16px 32px;
}

.container {
  text-align: center;
  min-height: 100%;
  padding-bottom: 200px;
}

#email,
#name {
  width: 285px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F2F0EE;
  color: #000000;
  padding: 20px;
  margin-top: 30px;
}

.welcome {
  font-size: 2em;
  font-family: 'Lora', serif;
}

.header {
  background-color: #fff;
  padding: 30px 30px 5px 30px;
  text-align: center;
}

.product_image {
  width: 350px;
}

.product_image_bigger {
  width: 500px;
}

.hidden {
  display: none;
}

.shown {
  display: auto;
}

button {
  background-color: white;
  border: 1px solid black;
  padding: 6px;
  margin: 5px;
}

button:hover {
  background-color: rgb(247, 247, 247);
}


@media screen and (max-width: 992px) {

  .container_img {
    width: 100%
  }


  .welcome {
    margin-top: 3em;
    margin-bottom: 3em;
  }

}

@media screen and (min-width: 992px) {

  .welcome {
    margin-top: 50%;
    margin-bottom: 50%;
  }


}


@media screen and (max-width: 450px) {

  .product_image_bigger {
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .welcome {
    font-size: 1.5em;
  }
}