* {
  /*font-family: 'Cardo', serif;*/
  /*font-family: 'Lora', serif;*/
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Playfair Display', serif;*/
  /*font-family: 'Arvo', serif;*/
  font-family: 'Manrope', sans-serif;
}


nav {
  margin-bottom: 10px;
}

img {
  padding: 4px;
}

.container_img {
  position: relative;
}

.image {
  opacity: 1;
  /* display: block; */
  width: 450px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 225px;
  left: 430px;
  transform: translate(-225px, -225px);
  -ms-transform: translate(-225px, -225px);
  text-align: center;
}

.container_img:hover .image {
  opacity: 0.3;
}

.container_img:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 30px;
  padding: 52px 0px 0px 165px;
}

.container {
  text-align: center;
  min-height: 1000px;  
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-top: 30px;
}

.welcome {
  font-size: xx-large;
  padding: 50%;
  font-family: 'Lora', serif;
}

.header {
  background-color: rgb(247, 247, 247);
  padding: 30px;
  text-align: center;
  border-bottom: grey solid 1px;
}


